 body {
    color: azure;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
 }
 .heading {
    width: 80%;
    font-size: 22px;
 } 
 #camera,#result{
    border: solid black;
    width: 350px;
    height: 300px;
 }
 .name_of_objects,#result_object_accuracy,#result_object_name{
    color: rgb(11, 11, 9);
 }